body {
  font-family: Poppins, sans-serif;
  margin: 0;
  background: #1b1e2b;
  color: white;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #5C3AFF;
  padding: 10px 20px;
}

.login-box {
  background: white;
  color: black;
  padding: 30px;
  border-radius: 14px;
  width: 300px;
  text-align: center;
  margin: 15vh auto;
  box-shadow: 0 5px 25px rgba(0,0,0,0.3);
}

input {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  background: #5C3AFF;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  font-weight: 600;
}

button:hover {
  background: #3e2bc7;
}

.menu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 10px;
  padding: 20px;
}

.menu-item {
  background: #2a2d3c;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  transition: 0.2s;
}

.menu-item:hover {
  background: #5C3AFF;
}

.cart {
  background: #2a2d3c;
  margin: 20px;
  padding: 15px;
  border-radius: 12px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  padding: 4px 0;
}

.card {
  background: #2a2d3c;
  margin: 20px;
  padding: 15px;
  border-radius: 12px;
  text-align: center;
}

.content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
